@import "styles.css";

h1,
h2 {
	display: block;
	text-align: center;
	width: 100%;
	margin: auto;
}

h1 {
	padding: 30px 0px 30px 0px;
	margin-block-start: 0.67em;
}

h2 {
	font-family: var(--secondary-font);
	font-size: 3rem;
	color: var(--secondary-color);
	padding-top: 50px;
}

p {
	font-size: 1.2rem;
	text-align: center;
	padding: 30px;
	max-width: 1000px;
	margin: auto;
}

.checkout-section {
	padding-bottom: 50px;
}

/* Bottom Section */

.bottom-section {
	position: relative;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#bottom-img {
	width: 100%;
	height: 250px;
	object-fit: cover;
	object-position: 100% 70%;
}

.bottom-section:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(193, 250, 255, 0.4);
	z-index: 9;
}

#bottom-logo {
	position: absolute;
	width: 350px;
	height: auto;
	z-index: 99;
}
