@import "styles.css";

.product-details {
	display: flex;
	justify-content: center;
	padding: 30px;
}

.product-card {
	max-width: 600px;
	border: 3px solid var(--primary-color);
	border-radius: 10px;
	padding: 20px;
	background: white;
	box-shadow: 4px 4px 10px rgba(10, 54, 65, 0.5);
	text-align: center;
}

.product-card img {
	max-width: 100%;
}

.product-card p {
	font-size: 1.2rem;
	margin: 15px 0;
}

.btn,
.size-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-weight: bold;
	background: var(--primary-color);
	color: white;
}

.size-options {
	display: flex;
	gap: 10px;
	justify-content: center;
	margin: 10px 0;
}

.size-btn {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 1rem;
	padding: 10px;
}

.size-btn input {
	display: none;
}

.size-btn:hover,
.btn:hover {
	background: var(--secondary-color);
}

.size-btn.selected {
	background: var(--secondary-color);
	color: white;
}

.btn {
	padding: 15px 30px;
	border-radius: 15px;
	font-size: 1.2rem;
	margin-top: 5px;
	border: none;
}
